* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.socials {
  text-decoration: underline;
}

.shadow {
  box-shadow: 0px 4.480370044708252px 112.0092544555664px 0px #0000000d;
}
.btn {
  box-shadow: 0px 2.137679100036621px 23.05931854248047px 0px #0000001f;
}

.linear-bg {
  background: linear-gradient(152deg, #ffe6df, #f6efff);
}

.slick-slide {
  transform: scale(0.8);
  transition: transform 0.4s ease-in-out;
  padding: 40px 0;
}

.slick-center::before {
  content: "";
  position: absolute;
  top: 2.8rem;
  left: -3rem;
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  background-image: url("/assets/images/right-quote.svg");
  background-size: cover;
  border-radius: 50%;
  z-index: 100;
}

.slick-center::after {
  content: "";
  position: absolute;
  top: 3.1rem;
  right: -3rem;
  height: 7.8rem;
  width: 7.8rem;
  border-radius: 50%;
  background-image: url("/assets/images/left-quote.svg");
  background-size: cover;
  border-radius: 50%;
  z-index: 100;
}

.slick-slide div {
  margin: 0.5rem;
}

@media (max-width: 1024px) {
  .slick-slide {
    transform: scale(1);
    padding: 20px 0;
  }

  .slick-center {
    transform: scale(1);
  }
}

@keyframes moveCircle {
  0%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(40px);
  }
  75% {
    transform: translateY(20px);
  }
}

@keyframes moveCircle2 {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(20px, 20px);
  }
  50% {
    transform: translate(-20px, 40px);
  }
  75% {
    transform: translate(40px, -20px);
  }
}

@keyframes moveCircle3 {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(30px, 30px);
  }
  50% {
    transform: translate(60px, 0);
  }
  75% {
    transform: translate(30px, -30px);
  }
}

@keyframes slide1 {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}
@keyframes slide2 {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}
@keyframes moveArrow {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* pulse button animation */
.pulse-animate {
  transition: 0.25s;
  animation: pulse 1s infinite;
  box-shadow: 0 0 0 1.2em rgba(255, 255, 255, 0);
}

.pulse-animate:hover,
.pulse-animate:focus,
.pulse-animate:active {
  animation: pulse-animate 1s;
  transform: scale(1);
  box-shadow: 0 0 0 2.5em rgba(255, 255, 255, 0);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #d6d6d7;
  }
}

.pulse-animate {
  --color: #d6d6d7;
  --hover: #d6d6d7;
}

/* For Hifi stacked cards */

:root {
  --cards: 5;
  --cardTopPadding: 0.8rem;
  --cardMargin: 4vw;
}

#cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(var(--cards), var(--cardHeight));
  gap: var(--cardMargin);
  margin-bottom: 1.5rem;
}

#card1 {
  --index: 1;
}
#card2 {
  --index: 2;
}
#card3 {
  --index: 3;
}
#card4 {
  --index: 4;
}
#card5 {
  --index: 5;
}

.card {
  position: sticky;
  top: 5rem;
  padding-top: calc(var(--index) * var(--cardTopPadding));
}

.card-body {
  padding: 15px 15px 0 15px;
  border: 2px solid #f2f2f2;
  transition: all 0.5s;
  background-color: #ffffff;
  border-radius: 2rem;
}

/* For task stacked card */

:root {
  --tasks: 3;
  --taskTopPadding: 1.5rem;
  --taskMargin: 4vw;
}

#tasks {
  margin-bottom: 1.5rem;
}

#task1 {
  --index: 1;
}
#task2 {
  --index: 2;
}
#task3 {
  --index: 3;
}

.task {
  position: sticky;
  top: 5rem;
  padding-top: calc(var(--index) * var(--taskTopPadding));
}

#task1 .task-body {
  background-color: #fff0f7;
}
#task2 .task-body {
  background-color: #fffaed;
}
#task3 .task-body {
  background-color: #f3f8ff;
}

.task-body {
  padding: 0px 10px;
  border-radius: 3rem;
  box-shadow: 0px 1px 0px 0px #00000014;
  transition: all 0.5s;
}

.nav-active {
  padding-bottom: 0.5rem;
  position: relative;
  color: #fff;
  transition: all 0.5s ease-in-out;
}

.nav-active::before {
  content: "";
  width: 100%;
  height: 0.3rem;
  position: absolute;
  bottom: 0;
  transition: transform 250ms ease-in-out;
  transform: scaleX(0.25);
  background-color: #fff;
  border-radius: 20%;
}
.nav-active:hover::before {
  transform: scaleX(1);
  background-color: #fff;
  border-radius: 20px;
}
.nav-links {
  padding-bottom: 0.5rem;
  position: relative;
  color: #fff;
  transition: all 0.5s ease-in-out;
}

.nav-links::before {
  content: "";
  width: 100%;
  height: 0.3rem;
  position: absolute;
  bottom: 0;
  transition: transform 250ms ease-in-out;
  transform: scaleX(0.4);
  background-color: transparent;
  border-radius: 20px;
}
.nav-links:hover::before {
  transform: scaleX(1);
  background-color: #fff;
  border-radius: 20px;
}

/* button hover effects */
.btn-slide {
  color: #fff;
  border: 2px solid #3e99b7;
  background-image: -webkit-linear-gradient(
    30deg,
    #3e99b7 15.03%,
    #3e99b7 34.34%,
    transparent 50%
  );
  background-image: linear-gradient(
    150.31deg,
    #3e99b7 15.03%,
    #3e99b7 35.34%,
    transparent 50%
  );
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
.btn-slide:hover {
  background-position: 100%;
  color: #3e99b7;
}

/* hover effect two */
.slidebtn {
  color: #fff;
  border: 2px solid #000;
  background-image: -webkit-linear-gradient(
    30deg,
    #000 15.03%,
    #000 34.34%,
    transparent 50%
  );
  background-image: linear-gradient(
    150.31deg,
    #000 15.03%,
    #000 35.34%,
    transparent 50%
  );
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
.slidebtn:hover {
  background-position: 100%;
  color: #000;
}

/* hover effect three */
.slidebtn2 {
  color: #000;
  border: 2px solid #fff;
  background-image: -webkit-linear-gradient(
    30deg,
    #fff 15.03%,
    #fff 34.34%,
    transparent 50%
  );
  background-image: linear-gradient(
    150.31deg,
    #fff 15.03%,
    #fff 35.34%,
    transparent 50%
  );
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
.slidebtn2:hover {
  background-position: 100%;
  color: #fff;
}

/* button slide3 */
.btn-slide3 {
  position: relative;
  overflow: hidden;
  color: #000;
  z-index: 1;
}

.btn-slide3::before {
  border-radius: 3rem;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  background: linear-gradient(60deg, #1a1a1a 0%, #1a1a1a 100%);
  top: 0;
  left: -100%;
  z-index: -1;
}

.btn-slide3:hover {
  color: #fff;
}

.btn-slide3:hover::before {
  left: 0;
}

/* button slide4 */
.btn-slide4 {
  position: relative;
  overflow: hidden;
  color: #fff;
  z-index: 1;
}

.btn-slide4::before {
  border-radius: 3rem;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  background: linear-gradient(60deg, #fff 0%, #fff 100%);
  top: 0;
  left: -100%;
  z-index: -1;
}

.btn-slide4:hover {
  color: #000;
  background-color: #fff;
  box-shadow: 0px 2px 23px 0px #00000020;
}

.btn-slide4:hover::before {
  left: 0;
}
