* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.socials {
  text-decoration: underline;

 
}



.shadow {
  box-shadow: 0px 4.480370044708252px 112.0092544555664px 0px #0000000d;
}
.btn {
  box-shadow: 0px 2.137679100036621px 23.05931854248047px 0px #0000001f;
}

.linear-bg {
  background: linear-gradient(152deg, #ffe6df, #f6efff);
}

.slick-slide {
  transform: scale(0.8);
  transition: transform 0.4s ease-in-out;
  padding: 40px 0;
}

.slick-center {
  transform: scale(1.15);
  position: relative;
  z-index: 1;
}

.slick-center::before {
  content: "";
  position: absolute;
  top: 2.8rem;
  left: -3rem;
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  background-image: url("./assets/images/right-quote.svg");
  background-size: cover;
  border-radius: 50%;
  z-index: 100;
}

.slick-center::after {
  content: "";
  position: absolute;
  top: 3.1rem;
  right: -3rem;
  height: 7.8rem;
  width: 7.8rem;
  border-radius: 50%;
  background-image: url("./assets/images/left-quote.svg");
  background-size: cover;
  border-radius: 50%;
  z-index: 100;
}

.slick-slide div {
  margin: 0.5rem;
}

@media (max-width: 1024px) {
  .slick-slide {
    transform: scale(1);
    padding: 20px 0;
  }

  .slick-center {
    transform: scale(1);
  }
}

@keyframes moveCircle {
  0%, 100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(40px);
  }
  75% {
    transform: translateY(20px);
  }
}

@keyframes moveCircle2 {
  0%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(20px, 20px);
  }
  50% {
    transform: translate(-20px, 40px);
  }
  75% {
    transform: translate(40px, -20px);
  }
}

@keyframes moveCircle3 {
  0%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(30px, 30px);
  }
  50% {
    transform: translate(60px, 0);
  }
  75% {
    transform: translate(30px, -30px);
  }
}
